

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
  }
  
  .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .nav-items>a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 500;
    color: hsl(233, 8%, 62%); 
    margin-left: 10px;
    margin-right: 10px;
    text-decoration-style: solid;
  }
  
  .nav-bar>button{
    padding: 10px 25px;
    border: none;
    outline-width: 0;
    color: rgb(5, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    background-image: linear-gradient(120deg, hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)); /* add colors for linear gradient*/
  }
  
  .container{
    background-color: hsl(220, 16%, 96%);
  }
  .why-us{
    padding-top: 20px;
    width: 77%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
  }
  
  .why-us>h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    color: hsl(233, 26%, 24%);
    margin-top: 20px;
     
  }
  
  .why-us>p{
    color: hsl(233, 8%, 62%);
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .features-section{
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  
  .feature-item>img{
    width: 65px;
    margin-bottom: 5px;
  }
  
  .feature-item>h1{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 10px;
    color: hsl(233, 26%, 24%);
  }
  
  .feature-item > p {
    color: hsl(233, 8%, 62%);
    font-weight: 500;
  }
  
  
  
  .hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
  }
  
  .hero-image-container{
    margin-top: 180px;
    background-image:url(/src/img/bg-intro-desktop.svg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  
  }
  
  .hero-text-container>h1,p{
    color: rgba(123, 216, 211, 0.966) ;
    justify-content: space-evenly;
  }
  .hero-image-container>img{
    width: 500px;
  }
  
  .hero-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .hero-text-container>h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    color: hsl(233, 26%, 24%);
    line-height: 1.2;
  
  }
  
  .hero-text-container>p{
    font-size: 20px;
    font-weight: 600;
    color: hsl(233, 8%, 62%);
    margin-bottom: 20px;
  }
  
  .hero-text-container>button{
    padding: 10px 25px;
    border: none;
    outline-width: 0;
    color: rgb(5, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    background-image: linear-gradient(120deg, hsl(192, 70%, 51%),
    hsl(136, 65%, 51%));
  }
  
  .footer {
      background-color: hsl(233, 26%, 24%);
     
  }
  .footer-container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 25px;
    }
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    .menu > a {
      text-decoration: none;
      color: white;
      margin-bottom: 15px;
      font-weight: 600;
    }
    .social-container {
      margin-top: 3rem;
    }
    .social-container > img {
      margin-left: 10px;
      cursor: pointer;
    }
    .footer-container > button {
      margin-top: 3rem;
      padding: 12px 28px;
      border: none;
      outline-width: 0;
      color: white;
      border-radius: 24px;
      cursor: pointer;
      font-weight: 400;
      background-image: linear-gradient(
        120deg,
        hsl(192, 70%, 51%),
        hsl(136, 65%, 51%)
      );
    }
  
  